<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="{{ asset('/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <style>
        body{
            overflow-x:hidden;
        }
    </style>
    {% block bootstrapCssBlock %}
        <link href="{{ asset("/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    {% endblock %}
    {% block additionalCss %}
    {% endblock %}
</head>

<body>
<div class="wrapper">
{#    {{ include('base/load/load.html.twig') }}#}
    <header>
        {{ include('base/navbar/navbar.html.twig') }}
    </header>
    <div class="content">
        <div class="container">
            {{ include('base/alert/alerts.html.twig') }}
            {% block body %}
            {% endblock %}
        </div>
    </div>
    {% if not is_web_view() %}
        <footer class="footer">
            {{ include('base/footer/footer.html.twig') }}
        </footer>
    {% endif %}
</div>
</body>
<script src="{{ asset('/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('/bootstrap/js/bootstrap.min.js') }}"></script>
</html>
